@font-face {
  font-family: "Expletus Sans";
  src: url("./Fonts/Expletus_Sans/ExpletusSans-Regular.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.all_center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title_font {
  font-family: "Expletus Sans";
}
